
   <footer class="footer-section section-bg pt-120">
      <div class="container">
         <div class="footer-top pb-120">
            <div class="row g-4">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                  <div class="widget-items">
                     <div class="footer-head">
                        <a href="./" class="footer-logo">
                           <img src="media/[logo]" alt="f-logo" style="width:100px;filter: grayscale(100%) brightness(1200%);">
                        </a>
                     </div>
                     <div class="content-area">
                        <p>
                           为客户提供全方位价值服务, 为您的发卡之旅保驾护航, 如有需要了解请联系我们客服
                        </p>
                        
                     </div>
                  </div>
               </div>
               
               <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 ">
                  <div class="widget-items">
                     <div class="footer-head">
                        <h5 class="title">
                           友情链接
                        </h5>
                     </div>
                     <div class="content-area">
                        <ul class="quick-link">
                           <li>
                              <a href="https://www.fakabao.top" target="_blank">
                                <i class="fas fa-caret-right"></i> 发卡宝
                              </a>
                           </li>
                           <li>
                              <a href="https://www.s-cms.cn" target="_blank">
                                <i class="fas fa-caret-right"></i> S-CMS
                              </a>
                           </li>
                           <li>
                              <a href="https://www.fahuo100.cn" target="_blank">
                                <i class="fas fa-caret-right"></i> 发货100
                              </a>
                           </li>
                           <li>
                              <a href="https://www.7-pay.cn" target="_blank">
                                <i class="fas fa-caret-right"></i> 7支付
                              </a>
                           </li>
                           <li>
                              <a href="https://dwz.s-cms.cn" target="_blank">
                                <i class="fas fa-caret-right"></i> 闪灵短链
                              </a>
                           </li>
                           <li>
                              <a href="https://www.wxptu.com" target="_blank">
                                <i class="fas fa-caret-right"></i> 微信P图
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               
               <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 ">
                  <div class="widget-items">
                     <div class="footer-head">
                        <h5 class="title">
                           快捷导航
                        </h5>
                     </div>
                     <div class="content-area">
                        <ul class="quick-link">
                           <li>
                              <a href="./">
                                <i class="fas fa-caret-right"></i> 网站首页
                              </a>
                           </li>
                           <li>
                              <a href="?type=about">
                                <i class="fas fa-caret-right"></i> 关于我们
                              </a>
                           </li>
                           <li>
                              <a href="?type=news">
                                <i class="fas fa-caret-right"></i> 平台公告
                              </a>
                           </li>
                           <li>
                              <a href="?type=query">
                                <i class="fas fa-caret-right"></i> 订单查询
                              </a>
                           </li>
                           <li>
                              <a href="?type=contact">
                                <i class="fas fa-caret-right"></i> 联系我们
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               
               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 ">
                  <div class="widget-items">
                     <div class="footer-head">
                        <h5 class="title">
                           联系我们
                        </h5>
                     </div>
                     <div class="content-area">
                        <ul class="contact">
                           <li>
                              <div class="phone-icon">
                                 <img src="template/t1/assets/img/footer/qq.png" alt="email" style="width: 40px">
                              </div>
                              <a href="#0" class="email-part">
                                 <span>QQ号码:</span>
                                 [qq]
                              </a>
                           </li>
                           <li>
                              <div class="phone-icon">
                                 <img src="template/t1/assets/img/footer/wechat.png" alt="phone" style="width: 40px">
                              </div>
                              <a href="#0" class="email-part">
                                 <span>微信号码:</span>
                                 [wechat]
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <p class="text-white">
               [copyright]
            </p>
            <ul class="footer-bottom-link">

               <li>
                  <a href="https://beian.miit.gov.cn/" target="_blank">
                     [beian]
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </footer>
   [code]