
<!--Preloader Here-->
   <div class="bg-load">
      <div class="loading"></div>
   </div>
<!--Preloader End-->

<!--Scrolling Here-->
   <div id="progress">
      <span id="valiu"><i class="fas fa-arrow-up"></i></span>
   </div>
<!--Scrolling End-->

<!--Header Here-->
   <header class="header-section">
      <div class="container">
         <div class="header-wrapper">
            <div class="logo-menu">
               <a href="./" class="logo">
                  <img src="media/[logo]" alt="logo">
               </a>
            </div>
            <div class="header-bar d-lg-none">
               <span></span>
               <span></span>
               <span></span>
            </div>
            <ul class="main-menu">
               <li class="active">
                  <a href="./">网站首页</a>
               </li>
               <li>
                  <a href="?type=about">关于我们</a>
               </li>
               <li>
                  <a href="?type=news">平台公告</a>
               </li>
               <li>
                  <a href="?type=query">订单查询</a>
               </li>
               <li>
                  <a href="?type=contact">联系我们</a>
               </li>
            </ul>
            <a href="member" class="cmn--btn">
               登录/注册
            </a>
         </div>
      </div>
   </header>
<!--Header End-->