body{font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;font-size:16px;color: #333;margin: 0;padding: 0;background-color:transparent; border-color:transparent;-webkit-appearance: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:rgba(0,0,0,0.0);}
input:focus, textarea:focus {outline: none;}
#infomores{clear: both;padding: 38px;    font-size: 14px;}
#filemore{background: #33c5ff;width: 120px;margin: auto;border-radius: 50px;height: 40px;line-height: 40px;color: #fff;cursor: pointer;display: block;text-align: center;}
#filemore:active{opacity: .7;}

.load2 .loader,
.load2 .loader:before,
.load2 .loader:after {border-radius: 50%;}
.load2 .loader:before,
.load2 .loader:after {position: absolute;content: &#x27;&#x27;;}
.load2 .loader:before {width: 16px;height: 32px;background: #fff;border-radius: 32px 0 0 32px;top: -1px;left: -1px;transform-origin: 16px 16px;animation: load2 2s infinite ease 1.5s;}
.load2 .loader {font-size: 11px;text-indent: -99999em;margin: auto;position: relative;width: 30px;height: 30px;box-shadow: inset 0 0 0 4px #09f;}
.load2 .loader:after {width: 16px;height: 32px;background: #fff;border-radius: 0 31px 31px 0;top: -1px;left: 15px;transform-origin: 0px 16px;animation: load2 2s infinite ease;}
@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load2{position: fixed;width: 100%;background: #fff;height: 100%;z-index: 999;padding-top: 10%;display: none;}
.loader2{text-align:center;padding-top: 30px;}


.user-top{    height: 30px;
    border-bottom: 1px solid #eee;
    padding: 10px;}
.user-ico{float: left;}
.user-ico-img{width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;}
.user-ico-div{    background: #bbb;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    padding-top: 5px;}
.user-ico-div-1{    background: #777;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;}
.user-ico-div-2{background: #777;
    width: 20px;
    height: 10px;
    border-radius: 50%;
    margin: auto;
    margin-top: 1px;}
.user-name{    float: left;font-size: 14px;    color: #888;
    line-height: 30px;
    margin-left: 10px;}
.user-name-txt{
	color: #333;
    margin-left: 10px;
	display: none;
}
.user-radio{background: #f5f5f5;
        padding: 8px 10px;
    margin: 20px;margin-bottom: 25px;
    border-radius: 3px;}
.user-radio-0{    background: #f5f5f5;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: -12px;
    -webkit-transform: rotate(45deg);}
.user-radio-1{font-size: 12px;padding: 3px;background: #de5823;color: #fff;border-radius: 3px 0 0 3px;}
.user-radio-2{background:#666;margin-right:5px;border-radius: 0 3px 3px 0;}
.user-title{display:none}
.n_foot{display:none}
.n_login{    padding: 6px 0;
    font-size: 12px;
    -webkit-transition: 0.2s;
    float: right;
    color: #888;text-decoration: none;}
.file{       margin-top: -1px;}
.mbx{padding: 0 20px;}
.mbx:hover{    background: #f1f1f1;}
.mbxfolder{border-bottom: 1px solid #f7f7f7;}
#folder{    border-top: 1px solid #f7f7f7;}
.mlink{    display: inline-block;    color: #333;
    padding: 20px 0;
    width: 100%;
    height: 35px;}
.mlink:visited{color: #77848a;}
.fileimg{float: left;background: #eee;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 7px;}
.fileimg img{    margin: auto;width: 100%;    border-radius: 7px;}
.filename{float: left;line-height: 1em;
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;    -webkit-transition: 0.1s;}
.filesize{font-size: 12px;
    color: #999;    padding-top: 3px;min-width: 200px;}
.file_time{float: left;width: 70px;}
.filedown{    color: #999;
    background: rgba(255, 255, 255, .7);
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid #5bccff;
    border-radius: 50%;
    right: 20px;}
.filedown-1{height: 12px;
    margin-top: 8px;
    border-left: 1px solid #5bccff;
    margin-left: 50%;}
.filedown-2{    border-left: 1px solid #5bccff;
    border-bottom: 1px solid #5bccff;
    height: 8px;
    width: 8px;
    transform: rotate(-45deg);
    margin-left: 12px;
    margin-top: -9px;}
.folderdown{
    background: #eee;
    float: right;
    width: 34px;
    height: 34px;
    border-radius: 50%;    transform: rotate(-90deg);}
.folderdown-2{    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    height: 8px;
    width: 8px;
    transform: rotate(-45deg);
    margin-left: 12px;
    margin-top: 10px;}
.user-right{
	position: fixed;
    top: 80px;
    right: 50%;
    margin-right: -640px;
    width: 180px;
}
.user-code{
	border: 1px solid #e7e7e7;
    height: 180px;
    padding: 20px;
	text-align:center;
	border-radius: 6px;
}
.user-code-r{
	padding-top: 20px;
    font-size: 14px;
}
#sms{
	display: none;
	z-index: 99;
    text-align: center;
    position: fixed;
    top: 40px;
    left: 0px;
    right: 0px;
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2em;
}
#smsspan{
	background: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 3px;
}
@media (min-width: 768px){
	.user-top{
		position: fixed;
    background: rgba(255, 255, 255, .9);
    z-index: 8;
    right: 0;
    left: 0;
	}
	.off{width: 300px;
    margin: 150px auto 30px auto;}
	.input{width: 300px;}
	.btnpwd{width: 300px;}
	.user-name{   color:#ff6740; }
	.n_login{display:block;background: #ffd1c5;    -webkit-transition: 0.2s;text-decoration: none;
    padding: 0px 12px;    line-height: 30px;
    font-size: 12px;
    -webkit-transition: 0.2s;
    float: right;
    border-radius: 3px;}
	.n_login:hover{    opacity: .7;}
	.n_login font{color: #fff;}
	.user-name-txt{display:initial}
	.user-radio-0{background: #fff;}
	.user-radio{    width: 776px;background: #fff;    line-height: 1.7em;margin: 10px auto 50px auto;}
	.user-title{    display: block;
    font-size: 32px;    font-weight: 700;
    padding: 100px 0 20px 0;
    width: 800px;
    margin: auto;}
	.file-box{    width: 800px; min-height: 450px;border-top: 3px solid #eee;
    margin: auto;    margin-top: 20px;}
	.mbx{  }
	.mbx:hover{    background: #f7f7f7;}
	#folder{    border-top: 0;}
	.filename{    max-width: 600px;}
	.filename:hover{color: #77848a;}
	.filedown{position: inherit;float: right;}
	.filedown:hover{opacity: .7;}
	.n_foot{font-size: 12px;color: #999;padding: 20px;text-align: center;display:block}
	#smsspan{
    padding: 2px 5px;
	}
}
.s_ad{    color: #fff;
    background: #a4df70;
    font-size: 12px;
    margin-left: 5px;
    padding: 1px 2px;
    border-radius: 3px;}
#s_search{    display: none;}
.s_pc_input{float: left;margin-left: 30px;width: 200px;}
.s_pcsubmit{width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    margin-left: 171px;
    margin-top: 2px;}
.s_pcsubmit:hover{opacity: .8;}
.s_pcsubmit_1{    border: 2px solid #555;
    width: 8px;
    height: 8px;
    margin-top: 6px;
    margin-left: 6px;
    border-radius: 50%;}
.s_pcsubmit_2{    border-bottom: 2px solid #555;
    width: 6px;
    height: 0px;
    transform: rotate(45deg);
    margin-top: -1px;
    margin-left: 14px;}
.spcinput{     background: #eee;
    border: 0;
    border-radius: 50px;
    height: 30px;
    text-indent: 10px;
    width: 100%;
    outline: 0;
    font-size: 14px;padding: 0;}
.spcinput:focus{ background: #ddd;}
.s_box{width: 800px;
    min-height: 650px;
    margin: auto;
    padding-top: 100px;}
.s_loader,
.s_loader:before,
.s_loader:after {border-radius: 50%;}
.s_loader:before,
.s_loader:after {position: absolute;content: &#x27;&#x27;;}
.s_loader:before {width: 16px;height: 32px;background: #fff;border-radius: 50px 0 0 50px;top: -2px;left: -4px;transform-origin: 16px 16px;animation: sload 1s infinite ease 1.5s;}
.s_loader {font-size: 11px;text-indent: -99999em;margin: auto;position: relative;width: 20px;height: 20px;box-shadow: inset 0 0 0 1px #09f;}
.s_loader:after {width: 16px;height: 27px;background: #fff;border-radius: 0 50px 50px 0;top: -2px;left: 12px;transform-origin: 0px 13px;animation: sload 1s infinite ease;}
@keyframes sload {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.s_load{position: absolute;width: 20px;background: #fff;height: 20px;z-index: 999;margin-top: -25px;display: none;margin-left: 210px;}
@media (max-width: 768px){
	.passwddiv-user{
		    font-size: 16px;
	}
	.passwddiv-input{
			padding: 8px;
			width: 210px;
	}
	.passwdinput{
			line-height: 34px;
			height: 34px;
	}
	.passwddiv-btn{
			width: 34px;
			height: 34px;
	}
	.passwddiv-btn-1{
		    margin-top: 16px;
			margin-left: 8px;
	}
	.passwddiv-btn-2{
			margin-left: 10px;
	}
	.folderdown{
		    position: absolute;
			right: 20px;
	}
}