@charset "UTF-8";

@media (max-width: 800px){
  body {
    background-image: url(../img/mbg.jpg);
    background-repeat: no-repeat;
  }
}

@media(min-width: 800px){
  body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px){
.col-lg-7 {
	 width: 100%;
	 margin-bottom: 10px;
	}

.col-lg-5 {
  width: 100%;
  }
}

div{
  color: #FFF;
}

p{
	color: #FFFFFF;
}

.Sakura{
	text-align: center;
  background-color: rgba(255,255,255,.4);
  width: 90%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  padding: 15px 0px 0px 0px;
}

.table-striped>tbody>tr:nth-of-type(odd){
	background-color: rgba(255,255,255,0);
}

.progress{
	background-color: rgba(255,255,255,.4);
}

#hitokoto{
	padding: 0px 0px 20px 0px;
    color: #FFF;
    font-size: 15px;
}

span{
  color: #FFFFFF;
}

a{
  color: #FFFFFF;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border-top: 1px solid #ffb8b8;
}