body{
	font:16px Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
	margin: auto;
	color: #3F3F3F;
}
a:link {
	text-decoration: none;
	color: #0099FF;
}
a:visited {
	text-decoration: none;
	color: #0099FF;
}
a:hover {
	text-decoration: none;
	color: #FF3311;
}
a:active {
	text-decoration: none;
	color: #FFFF00;
}
.d1{
	background: #FFF0DF;
	box-shadow: 0 0 5px #B1B1B1;
	position: fixed;
	top: 0;
	opacity: 0.7;
	z-index: 100;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFCC66;
	height: 19px;
}
.d7{
	width: 230px;
	text-align: right;
	display: none;
}
.pc{
	background-color: #0099FF;
	height: 10px;
	background-repeat: no-repeat;
	background-position: 90% bottom;
	margin-top: 15px;
	_margin-top: 0px;
}
.mb{
	padding: 20px;
	text-align: center;
}
.md{
	font-size: 26px;
	padding-top: 18px;
}
.mtt{
	color: #999;
	font-size: 18px;
	padding-left: 8px;
}
.mf{
	border-top: 1px solid #eee;
	padding-top: 9px;
	margin-top: 9px;
	margin-bottom: 18px;
}
.mt2{
	color: #999;
	padding-left: 9px;
	padding-right: 3px;
}
.mh{
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
}
.mh a{
	border-radius: 3px;
	color: #555;
	display: inline-block;
	background: #f7f7f7;
	border: 1px solid #bbb;
	padding: 9px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	width: 58%;
}
.mh a:hover{
	background: #fff;
}
.mh a:active{
	background: #ddd;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
}
.mad{
	padding-top: 3%;
	padding-bottom: 3%;
}